@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  box-sizing: border-box;
  max-width: 100%;
}

header {
  width: 100vw;
}

nav {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
nav ul li {
  display: inline;
  justify-content: start;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
nav ul li:hover {
  background-size: 100% 2px;
  cursor: pointer;
}
nav ul.iconos li {
  transition: none;
}
nav ul.iconos li:hover {
  background-image: none;
}
nav ul.iconos li img:hover {
  cursor: pointer;
  background-color: grey;
  border-radius: 10px;
}
nav ul.mobile-menu {
  display: none;
}

main {
  margin-top: 25px;
  width: 100vw;
}

div.scroll-categorias {
  width: 100vw;
  display: inline-flex;
  overflow-x: scroll;
  align-items: center;
  margin-bottom: 20px;
}

div.categoria-info {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
}

div.categoria-info-content {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
div.categoria-info-content span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
div.categoria-info-content span:active {
  background-color: black;
  color: white;
}
div.categoria-info-content img {
  width: 100%;
  height: 70%;
}

div.productos-descripcion {
  width: 60%;
  display: grid;
  gap: 10px;
  border-collapse: collapse;
  grid-template-columns: 2fr 2fr 2fr;
  grid-auto-rows: auto;
  margin: auto;
}

div.productos-cabecera {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

div.productos-contador {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.prod-1 {
  grid: 1;
}

div.prod-2 {
  grid: 2;
}

div.prod-3 {
  grid: 3;
}

div.producto img {
  background: #f8f8ff;
}
div.producto div {
  background: white;
}

@media only screen and (max-width: 1024px) {
  nav {
    justify-content: space-between;
  }
  nav ul {
    display: none;
  }
  nav ul.mobile-menu {
    display: block;
  }
  nav ul.iconos {
    display: block;
  }
  nav ul.iconos li {
    display: none;
  }
  nav ul.iconos li.cart {
    display: block;
  }
  div.productos-descripcion {
    width: 60%;
    grid-template-columns: 1fr 1fr;
  }
  div.productos-cabecera {
    grid-column: 1 span 2;
    grid-row: 1;
  }
  div.productos-contador {
    grid-row: 2;
    grid-column: 1 span 2;
  }
  div.prod-1 {
    grid-row: 3;
    grid-column: 1;
  }
  div.prod-2 {
    grid-row: 3;
    grid-column: 2;
  }
  div.prod-3 {
    grid-row: 4;
    grid-column: 1;
  }
}/*# sourceMappingURL=index.css.map */